<!-- devops/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Welcome DevOps Enthusiast{% endblock %}

{% block content %}
    <h1>Welcome DevOps Enthusiast</h1>
    <a href="{% url 'devops:modules' %}" class="btn btn-primary">Click here to Explore DevOps</a>
{% endblock %}

