<!-- devops/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Welcome DevOps Enthusiast{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction and Overview</title>
</head>
<body>
    <h1>Introduction and Overview</h1>
    <p>This module provides an introduction to DevOps and an overview of its principles and practices.</p>
    <!-- Add more content as needed -->
</body>
</html>

{% endblock %}
