<!-- devops/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Welcome DevOps Enthusiast{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux for DevOps</title>
</head>
<body>
    <h1>Linux for DevOps</h1>
    <p>This module covers essential Linux commands and concepts relevant to DevOps practices.</p>
    <!-- Add more content as needed -->
</body>
</html>

{% endblock %}