
<!-- devops/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Welcome DevOps Enthusiast{% endblock %}

{% block content %}

<ul>
  <li><a href="{% url 'devops:module_lesson' 'intro' %}">Introduction and Overview</a></li>
  <li><a href="{% url 'devops:module_lesson' 'linux' %}">Linux for DevOps</a></li>
  <li><a href="{% url 'devops:module_lesson' 'git' %}">Git</a></li>
  <!-- Add other modules as needed -->
</ul>


{% endblock %}
